/* Global styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    box-sizing: border-box;
    text-transform: lowercase;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

header {
    width: 100%;
}

.banner {
    width: 100%;
    position: relative;
}

.banner img {
    width: 100%;
    height: auto;
}

/* Navigation bar styles */
.main-nav {
    background-color: black;
    border: 2px solid white;
    color: white;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000;
    padding: 10px 0;
    box-sizing: border-box;
}

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 80px;
}

.main-nav li {
    margin: 0;
}

.main-nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
}

.main-nav a:hover {
    color: #007bff;
}

/* New styles for coming soon text */
.coming-soon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-top: 30vh;
    text-align: center;
    font-size: 24px;
    color: white;
}
